<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b0c9c737-bc7c-4cc5-badd-1bf6404f01ed/resourcegroups/Videogame20220503231729ResourceGroup/providers/Microsoft.Web/sites/DrummervsAI</ResourceId>
    <ResourceGroup>Videogame20220503231729ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://drummervsai.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d348f472-0fc4-449a-9380-ca2c3bbbdf8c</ProjectGuid>
    <PublishUrl>https://drummervsai.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DrummervsAI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>